<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
	<style type="text/css">
		img{
			width:300px;
			height:300px;
		}
		#current_events,#invitations{
			display:inline-block;

		}
		#invitations{
			vertical-align: top;
			margin-right:100px;
		}
		.event a{
			display:block;
		}
		#nav{
			vertical-align:top;
			display:block;
		}
		#confirm_events{
			vertical-align: top;
			display:inline-block;
			margin-left:50px;
		}
		h1{
			width:600px;
			margin-left:auto;
			margin-right:auto;
		}
		.event{
			display:inline-block;
			margin:10px;
		}
		h4{
			margin-left:15px;
		}
		#back{
			float:right;
			margin-right:100px;
		}
		#time_input{
			height:30px;
			width:150px;
		}
		h5{
			text-align: center;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".time").hide();

			$(".btn.btn-info").click(function(){
				var id = $(this).attr('id');
				var first_index = id.indexOf("_");
				var bang_index = id.indexOf("!") 
				event_id = id.substring(first_index+1,bang_index)
				$("#t_"+event_id).toggle();
				return false;
			})
			//ajax submit sending invitations
			$('form').submit(function(){
				$.post($(this).attr('action'),$(this).serialize(),function(data){	
					//replace form with message
					$("#e_"+data.event_id).html("<p>"+data.message+"</p>")
				},"json")
				return false;
			})
		})
	

	</script>
</head>
<body>
	<a href="/events/all" id='back'>Back</a>
		<h1>Social Calendar</h1>
		<h4>Send Invitations</h4>
	<div id='invitations'>
		<%@qualified_events.each do |event| %>
			<div class='event' id="e_<%=event.id %>">
				<%if event.invitation ==false || event.invitation ==nil %>
				<h5><%=event.date.strftime("%A") %>:<%=event.date.strftime("%m-%d-%Y") %></h5>
					<a href="/chats/all/<%=event.id %>"><%= image_tag event.picture.image.url %></a>
					<a href="" id="q_<%=event.id %>!" class='btn btn-info'>Send Invitations</a>
					<div id='t_<%=event.id %>' class='time'>
						<form action='/invitations/create' method='post' id="form_<%=event.id %>">
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							Set Time:<input type='time' name='invitation[time]' id='time_input'>
							<input type='hidden' name='invitation[event_id]' value=<%= event.id%>>
							<input type='submit' value='Submit' id="submit_<%=event.id%>" class='btn btn-success'>
						</form>
					</div>
				<%end%>
			</div>
		<% end%>
	</div>

</body>
</html>