<html>
<head>
	<title></title>
	<style type="text/css">
		img{
			width:400px;
			height:400px;
		}
		h1{
			width:600px;
			margin-left:auto;
			margin-right:auto;
		}
		#back{
			float:right;
			margin-right:100px;
		}
		.event{
			display:inline-block;
			margin:5px;
		}
		.timedate{
			font-weight: bold;
			margin-left:auto;
			margin-right:auto;
			width:220px;

		}
		.description{
			width:200px;
			margin-left:auto;
			margin-right:auto;
			display:block;
		}
		.btn.btn-danger{
			width:400px;
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
	<script type="text/javascript">
		$(document).ready(function(){
			$("form").submit(function(){
				$.post($(this).attr('action'),$(this).serialize(),function(data){	
					//replace form with message
					$("#event_"+data.event_id).html("<p>"+data.message+"</p>")
				},"json")
				return false;
			})
		})

	</script>
</head>
<body>
	<a href="/events/all" id='back'>Back</a>
	<h1>Social Calendar</h1>
	<div id='current_events'>
		<h4>Currently Sent Invitations</h4>
		<%@qualified_events.each do |event| %>
			
				<%if event.invitation ==true%>
					<div class='event' id="event_<%=event.id %>">
						<a href="/chats/all/<%=event.id %>"><%= image_tag event.picture.image.url %></a>
						<p class='timedate'><%=event.date.strftime("%A") %> <%=event.date.strftime("%m-%d-%Y") %> <%=event.time.strftime('%l:%M%p') %></p>
						<p class='description'><%=event.description%></p>
						
						<form action='/invitations/cancel' method='post'>
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							<input type='hidden' name='invitation[event_id]' value=<%=event.id %>>
							<input type='hidden' name='invitation[invitation]' value=<%=false%>>
							<input type='submit' value='Cancel Event' class='btn btn-danger'>
						</form>
					</div>
				<% end%>	
				
		<% end%>	
	</div>
</body>
</html>