<!DOCTYPE HTML>
<html>
<head>

	<title></title>
	<style type="text/css">
		img{
			width:300px;
			height:300px;
		}
		#date_nav p{
			display:inline-block;
		}
		#date_nav form{
			display:inline-block;
		}
		.user_info{
			margin-left:50px;
			margin-bottom:5px;
		}
		.user_info img{
			width:50px;
			height:50px;
			display:inline-block;
		}
		.user_info p{
			display:inline-block;
			vertical-align:top;
			font-weight:bold;
		}
		.user_name{
			text-transform: capitalize;
		}
		.event{
			margin:10px;
		}
		.friend_stream img{ 
			width:40px;
			height:40px;}
		h1{
			/*width:600px;
			margin-left:auto;
			margin-right:auto;*/
			text-align: center;
		} 
		#menu a{
			font-size: 20px;
			margin:15px;
		}
		#menu{
			/*width:800px;
			display:block;
			margin-left:auto;
			margin-right:auto;*/
			text-align: center;
		}
		#menu2 p{
			display: inline-block;
			margin-left:100px;
			font-weight:bold;
		}
		#menu2 a{
			float:right;
			margin-right:100px;
			font-weight:bold;
		}
		h2{
			display:inline-block;
			padding-bottom:0px;
			margin-bottom: 0px;
		}
		#date_nav {
			/*width:500px;
			margin-left: auto;
			margin-right:auto;*/
			text-align: center;
		}
		.text_style{
			text-transform: capitalize;
		}
		#calendar{
			 height:800px;
			 overflow-y:scroll;
		}
		.event{
			margin-top:10px;
			width:400px;
			margin-right: auto;
			margin-left: auto;
			border:1px solid #E8E8E8;
			}
		.event h5{
			border:1px solid #E8E8E8;
			width:300px;
			font-weight:bold;
			padding:6px;
			margin-left:50px;
			background-color: #CCFFFF;
		}
		.confirmed{
			display:inline-block;
		}
		.friend_stream{
			height:60px;
			width:280px;
			overflow-x:scroll;
			overflow-y: hidden;
			margin-left:50px;
		}
		.content{
			margin-left:50px;
			width:310px;
		}
		.content p{
			width:200px;
			margin-left: auto;
			margin-right:auto;
			margin-top:10px;
			font-weight: bold;
		}
		.confirmed_title{
			margin-left:50px;
			font-weight: bold;
		}
	</style>

</head>
<body>
	<div id='menu2'>
		<p class='text_style'>Welcome <%=@user.first_name %> <%=@user.last_name %></p>
		 <a href="/users/sign_out" data-method="delete">Log Off</a>
	</div>
	<h1>Social Calendar</h1>
	<div id='menu'>
		<a href="/profiles/index">Profile</a>
		<a href="/streams/index">Discover</a>
		<a href="/pictures/new">Pictures</a>
		<a href="/events/all">Events</a>
		<a href="/friend_requests/all">Friends</a>
	</div>
	
	<div id='date_nav'>
		<form action='/homes/calendar' action='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='hidden' name='day' value=<%=@day%>>
			<input type='hidden' name='increment' value=-1>
			<input type='hidden' name='date_calc' value=<%=@date_calc%>>
			<input type='submit' value='<' class='btn btn-info'>
		</form>
		 <h2><%=@day_of_week%></h2>
		 <form action='/homes/calendar' action='post'>
		 	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		 	<input type='hidden' name='day' value=<%=@day%>>
			<input type='hidden' name='increment' value=1>
			<input type='hidden' name='date_calc' value=<%=@date_calc%>>
			<input type='submit' value='>' class='btn btn-info'>
		 </form>
	</div>
	
	<div id='calendar'>
		<%@today.each do |t| %>
			<div class='event'>
			<h5><%=t.time.strftime("At %I:%M%p") %></h5>
				<div class='user_info'>
					<%if t.user.avatar.blank?%>
						<img src="http://sanbernardinorising.org/wp-content/uploads/2013/07/NO-IMAGE-AVAILABLE.jpg">
					
					<%else %>
						<%=image_tag t.user.avatar.url %>
				<% end%> 
					<p class='user_name'><%=t.user.user_name %></p>
				</div>
				<div class='content'>
					<a href="/chats/all/<%=t.id %>"><%=image_tag t.picture.image.url %></a>
					<p class='description'><%=t.description %></p>
				</div>
				
				
				<p class='confirmed_title'>Confirmed:</p>
				<div class='friend_stream'>
					<%@confirms.each do |c| %>
						<div class='confirmed'>
							<%if c.event_id == t.id%>
								<%if c.user.avatar.blank?%>
									<img src="http://sanbernardinorising.org/wp-content/uploads/2013/07/NO-IMAGE-AVAILABLE.jpg">
								<%else %>
									<%=image_tag c.user.avatar.url %>
								<% end%>
							<%end %>
						</div>	
					<%end %>	
				</div>
			</div>	
		<% end%>
	</div>
</body>
</html>